
.header{
    background-color:dodgerblue;
    color:#dddddd;
    width: 100%;
    height: 50px;


}

.footer{
    background-color: aqua;
    height: 70px;
    width: 100%;


}
#schedule-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  #schedule-table caption {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #schedule-table th b, #schedule-table td {
  
    font-size: 25px;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }

  #schedule-table td{
    font-style: italic;
    font-size: 15px;

  }
   
  
  #schedule-table th {
    background-color: #dddddd;
  }